<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Overwatch Roster</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="about">About Overwatch</a></li>
      <li><a class="text-muted" routerLink="admin">Admin</a></li>
    </ul>
  </div>
</nav>

<div class = "container">
  <h1>
    <img src="/src/game-logo-overwatch.png" alt="">
  </h1>
  <router-outlet></router-outlet>
</div>
