<div id="charList">
  <div class = "selectForm">
  <select (change)="onChange($event.target.value)">
    <option selected="selected">Filter Characters by Role</option>
    <option value="allCharacters">All Characters</option>
    <option value="offense">Offensive Characters</option>
    <option value="defense">Defensive Characters</option>
    <option value="tank">Tank Characters</option>
    <option value="support">Support Characters</option>
  </select>
  </div>
  <h1 id="homeDir">Click a character to see their details</h1>
  <div id="heroes">
    <div *ngFor="let character of characters | async | role: filterByRole ">
      <div [class]="getRole(character)">
          <h3 (click)="seeCharDetail(character)"><strong>{{character.name}}</strong></h3>
        <div *ngIf="currentRoute === '/admin'">
          <h5>Role: {{character.role}} </h5>
          <h5>Saying: "{{character.bio}}"</h5>
          <hr>
          <app-edit-character [selectedCharacter]="character"></app-edit-character>
        </div>
      </div>
    </div>
  </div>
</div>
