body {
  background-image: url("/src/background.jpg");
}

#homeDir {
  color:White;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
}
#heroes {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

#charPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  margin-left: 20%;
}

.aboutGif {
  margin-left:18%;
}

p, h2, h4 {
  background-color: silver;
  border: 1px solid silver;
  border-radius: 10px;
  padding: 9px;
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
  text-align: center;
}

#charList {
  display: flex;
  flex-direction:column;
  align-items: center;

}

strong {
  border: 2px solid grey;
  border-radius: 5px;
  padding: 4px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Exo 2', sans-serif;
}
